$primary-color: #1067b7;
$secondary-color: #f4f4f4;
$text-color: #072441;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* 1rem é igual a 10px */
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #f4f4f4;
  transition: background-color 1s ease;
}

body {
  width: 100%;
  background-color: $secondary-color;
  height: 100vh;
}

section {
  display: flex;
  height: 100vh;
}

.title-section {
  text-align: center;
  color: $primary-color;
  font-style: bold;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;

  transition: color 0.5s ease;
}

h2 {
  font-size: 2rem;
}
