$primary-color: #1067b7;
$secondary-color: #f4f4f4;
$text-color: #072441;

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #f4f4f4;
  transition: background-color 1s ease;
}

body {
  background-color: $secondary-color;
}

section {
  display: flex;
  height: 100vh;
}

.title-section {
  text-align: center;
  color: $primary-color;
  font-style: bold;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;

  transition: color 0.5s ease;
}
