$primary-color: #1067b7;
$secondary-color: #f4f4f4;
$text-color: #072441;

.treatments-section {
  flex-direction: column;
}

.treatments-subtitle {
  text-align: center;
  color: #072441;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 4rem;
}
