@import "/src/global.scss";

.treatments-section {
  flex-direction: column;
}

.treatments-subtitle {
  text-align: center;
  color: #072441;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 4rem;
}
