@import "/src/global.scss";

.treatments-section {
  flex-direction: column;
  height: 100%;
}

.treatments-subtitle {
  text-align: center;
  color: $color-text;
  font-style: normal;
  font-size: 2rem;
  padding: 0 2rem 0 2rem;
}
