@import "/src/global.scss";

.half {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 17rem;

  p {
    text-align: justify;
    font-size: 1.6rem;
  }

  h3 {
    margin-top: 2rem;
    font-size: 1.7rem;
  }
}

.thiago-patient-image {
  width: 37.2rem;
  height: 49.76rem;
  margin-left: 17rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.profile-title {
  color: $color-blue;
  font-style: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
