@import "/src/global.scss";

.profile-section {
  flex-direction: column-reverse;
  height: 100%;
  margin: 5rem 0;

  #image-container {
    display: flex;
    justify-content: center;
  }
}

.half {
  margin: auto;
  padding: 2rem 4rem;

  p {
    text-align: justify;
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  h3 {
    font-size: 1.7rem;
  }

  .thiago-patient-image {
    object-fit: cover;
    width: 90%;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }
}

.profile-title {
  color: $color-blue;
  font-style: bold;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 1rem 3rem 1rem;
}

@media screen and (min-width: 600px) {
  .half {
    .thiago-patient-image {
      width: 55%;
    }
  }
}

@media screen and (min-width: 1023px) {
  .profile-section {
    height: 100%;
    flex-direction: row;
    margin: 10rem 6rem;

    #info-container {
      padding: 6rem;
    }
  }

  .half {
    width: 50%;
    padding: 0;

    h3 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.7rem;
      margin: 2rem 0;
    }

    .thiago-patient-image {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1535px) {
  .profile-section {
    margin: 15rem 6rem;
  }

  .profile-title {
    font-size: 3.3rem;
    padding: 1rem 1rem 5rem 1rem;
  }

  .half {
    h3 {
      font-size: 2.6rem;
    }

    p {
      font-size: 2.5rem;
      margin: 2rem 0;
    }

    .thiago-patient-image {
      width: 55rem;
    }
  }
}
