@import "/src/global.scss";

.card-carousel {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  width: 30rem;
  margin: auto;
}

.top-cards,
.bottom-cards {
  display: flex;
}

.cards-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  justify-content: start;

  width: 13rem;
  height: 13rem;
  background-color: #ffffff;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: $color-blue;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 1rem;

  transition: background 0.4s ease, transform 0.4s ease;

  span {
    padding: 6rem 1rem 0 1rem;
  }
}

.card-icon {
  position: absolute;
  margin-top: 1.5rem;
  width: 3.6rem;
  height: 3.6rem;
}

.card.hovered {
  transform: scale(1.5);
  background-color: $color-blue;
  border-color: #0d3c6b;
  padding-bottom: 0;
  z-index: 100;

  .card-icon {
    display: none;
  }
}

.card.hovered .card-text {
  color: white;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  text-align: start;
  padding: 0 15px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title-hovered {
  color: white;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
}

.container-card-carousel {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 0;

  .prev-button,
  .next-button {
    display: flex;
    justify-items: center;
    width: 50px;
    height: 50px;
    padding: 1px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
  }
}

// .prev-button:hover,
// .next-button:hover {
//   background-color: white;
// }

// .prev-button {
//   order: 2;
// }

// .next-button {
//   order: 1;
// }

// .prev-button {
//   left: 230px;
// }

// .next-button {
//   right: 230px;
// }
