$primary-color: #1067b7;
$secondary-color: #f4f4f4;
$text-color: #072441;

.service-section {
  flex-direction: column;
}

.card-container-service {
  display: flex;

  h2 {
    margin-left: 40px;
  }

  p {
    line-height: 1.5;
    margin-left: 30px;
  }

  span {
    color: $primary-color;
    font-style: normal;
    font-weight: 600;
  }
}

.open-card {
  display: flex;
  align-items: center;
  text-align: start;
  flex-direction: column;

  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;

  width: 550px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: $primary-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;

  transition: background 0.4s ease, transform 0.4s ease;
}

.location-card {
  display: flex;
  align-items: start;
  text-align: start;
  flex-direction: column;

  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;

  width: 350px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: $primary-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;

  transition: background 0.4s ease, transform 0.4s ease;
}
